 {% extends 'base.html' %} {% block title %}User Detail{% endblock %} {% block content %}
<h5><a href="{% url 'home' %}">Home</a> > <a href="{% url 'users:index' %}">Admin Area</a></h5>
<h3>User Detail</h3>
<ul>
    <li>Username: {{user_selected.username}}</li>
    <li>First name: {{user_selected.first_name}}</li>
    <li>Surname: {{user_selected.last_name}}</li>
    <li>User Type: {% if user_selected.is_staff %} Admin {% else %}User{% endif %}</li>
</ul>
<hr>
<table>
    <form action="{% url 'users:delete' user_selected.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="button"value="Delete" />
    </form>

    <form action="{% url 'users:update' user_selected.id %}" method="get">
        {% csrf_token %}
        <input type="submit" class="button confirm" value="Update" />
    </form>
</table>

{% endblock %}