{% extends 'base.html' %}

{% block title %}User List{% endblock %}
{% block content %}
<h5><a href="{% url 'home' %}">Home</a> > <a href="{% url 'users:index' %}">Admin Area</a></h5>
<h3>Admin Area</h3>

{% if user_list %}
    <p>List of Users:</p>
    <ul>
    {% for user_selected in user_list %}
    <li><a href="{% url 'users:detail' user_selected.id %}">{{user_selected.username}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users found.</p>
{% endif %}
<hr>
<form action="{% url 'users:create' %}" method="get">
        {% csrf_token %}
        <input type="submit" class="button add" value="New User" />
    </form>


{% endblock %}