{% extends 'base.html' %} {% block content %}
<h2>Home</h2>
<hr>
{% if user.is_authenticated %} 
<table>
    Select an option:
    <form action="{% url 'crm:index' %}" method="get">
    {% csrf_token %}
    <input type="submit" class="button" value="Customer Area" />
</form>
{% if user.is_staff %}
<form action="{% url 'users:index' %}" method="get">
    {% csrf_token %}
    <input type="submit" class="button" value="Admin Area" /> {% endif %}
</form></table>


{% else %} Hi, Anonymous! {% endif %} {% endblock %}