
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Customer Detail{% endblock %}


{% block content %}
<h1>{{customer.name}}</h1>
<ul>
        <li>ID: {{customer.id}}</li>
        <li>Surname: {{customer.surname}}</li>
    <li>Last Modified by: {{customer.referenced_user}}</li>
</ul>
<img>
    <img style="width: 150px; height: 150px;"
    alt="Image description"
    src="{{customer.photo.url}}"/>


    <form action="{% url 'crm:delete' customer.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete"/>
    </form>

    <form action="{% url 'crm:update' customer.id %}" method="get">
        {% csrf_token %}
        <input type="submit" value="Update"/>
    </form>

{% endblock %}